@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');




/* Drop menu Colors */
.dropdown-menu a{
  color: #fdfcfc !important;
 }
 .dropdown-menu a:hover{
  background: #014464!important;

 color: #f8f9fa !important;
 }
body, html {
    height: 100%;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: xx-small;
    color: rgb(231, 231, 231);
  }
 
  /* Orbit Background Picture */
  .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('images/orbitsv3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

/*Symbols in footer*/
.fa-code {
  color: white;
}

.fa-bold {
  color: white;
}

.fa-css3 {
  color: white;
}

.fa-code, .fa-bold, .fa-css3 {
  font-size: 3em;
  margin: 1rem;
}

/*  Footer Section  */
footer {
  font-family: Ariel, sans-serif;
  color: white;
}
/* Text color under each symbol*/
.hr, .light {
  background-color: white;
}

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}